@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');

$main-bg: #f2f2f2;
$main-font-size: 14px;
$main-font-weight: 400;
$main-text-color: #222;
$main-font: 'Roboto', sans-serif;

$color-link: #162ec9;
$color-link-highlight: #071ca8;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $main-font;
  font-size: $main-font-size;
  font-weight: $main-font-weight;
  color: $main-text-color;
  background-color: $main-bg;
}

#top-header {
  transition: all 0.3s ease;
}

.user-page {
  a {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;

    &:hover,
    &.active {
      color: $color-link !important;
    }

    &.default-link {
      color: $color-link;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .logo-page {
    max-width: 200px;
  }

  .link {
    display: inline-block;
    padding: 7px 10px;
    font-weight: 500;
    text-transform: uppercase;
  }
  .button-link {
    background-color: $color-link;
    border-radius: 3px;
    color: #fff;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;

    transition: all 0.3s;

    &:hover {
      color: #fff !important;
      background-color: $color-link-highlight;
      box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
    }

    &.active {
      color: #fff !important;
      background-color: $color-link-highlight;
    }

    &.reverse {
      background-color: #fff;
      color: $color-link;
      // border: 1px solid #ccc;
      border: none;
      outline: none;

      &:hover {
        color: #fff !important;
        background-color: $color-link-highlight;
      }

      &.active {
        color: #fff !important;
        background-color: $color-link-highlight;
      }
    }
  }
}

.custom-toast {
  border-radius: 3px;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
}

.avatar {
  max-width: 30px;
  max-height: 30px;
  display: inline-block;
}
.custom-dropdown-menu {
  a {
    cursor: pointer;
    display: block;
  }
}

.reset-button {
  outline: none;
  background-color: transparent;
  border: none;
}

.account-layout {
  .active-link {
    color: $color-link;
  }
}

.profile {
  table.teaching-info {
    border-collapse: separate;
    border-spacing: 30px 15px;
    td {
      vertical-align: top;
    }
  }
}
.banner {
  max-height: 350px;
  overflow: hidden;
  .carousel-item {
    .carousel-caption {
      bottom: auto;
      right: auto;
      left: 10%;
      top: 10px;
    }
  }

  .banner-title {
    font-size: 30px;
    font-weight: 900;
  }
}

.presentative-teachers {
  // overflow: hidden;
  .slick-track {
    padding-bottom: 20px;
  }
  .slick-teachers {
    margin: 0 -10px;
    .slick-item {
      padding: 0 10px;
      outline: none;
    }
  }
}

.statics {
  .item {
    text-align: center;
    & > div:first-child {
      font-size: 35px;
      color: #162ec9;
      font-weight: 700;
    }
    & > div {
      font-size: 25px;
      font-weight: 700;
    }
  }
}

.footer {
  background-color: #2d3436;
  color: #fff;
  font-size: 20px;
  padding: 50px 20px 0;
  .logo {
    max-width: 100%;
  }
  ul {
    list-style-type: none;
    li {
      padding: 7px 0;
    }
  }
}

.list {
  .card-horizontal {
    border-top: 1px solid #b2bec3;
    &:first-child {
      border-top: none;
    }
  }
}

.teacher-detail {
  .statics {
    ul {
      list-style-type: none;
      padding: 0 15px;
      li {
        display: inline-block;
        // padding: 10px 0;
        max-width: 120px;

        .static-value {
          font-size: 20px;
          font-weight: 700;
        }
        .static-title {
          color: #656565;
        }
      }
    }
  }
}

@media screen and (max-width: 576px) {
  .banner {
    .banner-title {
      font-size: 21px;
      font-weight: 700;
    }
  }

  .teacher-detail {
    .statics {
      ul {
        li {
          max-width: none;
        }
      }
    }
  }
}

.tags {
  list-style-type: none;
  margin-bottom: 0;
  li {
    display: inline-block;
    margin-right: 15px;
    .tag {
      padding: 5px 7px;
      font-size: 15px;
      font-weight: 500;
      background: #e0e0e0 !important;
    }
  }
}
