.btn-blocks {
  button {
    margin-right: 10px;
    &:last-child {
      margin-right: 0;
    }
  }
}

.active-contracts {
  table {
    tbody {
      tr {
        cursor: pointer;
      }
    }
  }
}

.contract-detail {
  table.table-detail {
    font-size: 15px;
    width: 100%;
    max-width: 400px;
    tr {
      vertical-align: top;
      td {
        padding: 5px 0;
        &.title {
          width: 35%;
        }
        &.content {
          width: 65%;
        }
      }
    }

    .table-status {
      width: 100%;
    }
  }
}
