.btn-blocks {
  button {
    margin-right: 10px;
    &:last-child {
      margin-right: 0;
    }
  }
}

.active-contracts {
  table {
    tbody {
      tr {
        cursor: pointer;
      }
    }
  }
}
